@page
@model SteamLookupTool.Pages.UserModel
@{
}

<div class="row">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Personaname</a>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Lastlogoff</a>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Avatar</a>
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Timecreated</a>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Personastate</a>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Primaryclanid</a>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Profilestate</a>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Communityvisibilitystate</a>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <a class="form-control" aria-describedby="basic-addon1">@Model.Users.FirstOrDefault().Personastateflags</a>
    </div>
</div>