@page
@model SteamLookupTool.Pages.UserModel
@{
    ViewData["Title"] = @Model.Users.FirstOrDefault().Personaname;
}

<div class="row">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Username</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Personaname</a>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Creation Date</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Timecreated</a>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Avatar URL</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Avatar</a>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Status</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Personastate</a>
    </div>
    <div class="col-md-3">
        <label for="inputZip" class="form-label">Primary Clan-ID</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Primaryclanid</a>
    </div>
    <div class="col-md-3">
        <label for="inputZip" class="form-label">Profilestate</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Profilestate</a>
    </div>
    <div class="col-md-3">
        <label for="inputZip" class="form-label">Communityvisibilitystate</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Communityvisibilitystate</a>
    </div>
    <div class="col-md-3">
        <label for="inputZip" class="form-label">Personastate</label>
        <a class="form-control">@Model.Users.FirstOrDefault().Personastateflags</a>
    </div>
</div>